<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="Log File" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${LOG_FILE}.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ua.com.foxminded.dao" level="DEBUG"
		additivity="false">
		
		<appender-ref ref="ROLLING_FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="ROLLING_FILE" />
	</root>
</configuration>