<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="Log File" />
	<property name="ROOT_PROJECT_FOLDER"
		value="C:\\Users\Boy1\\OneDrive\\Рабочий стол\\logs"></property>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="REPOSITORIES_ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${ROOT_PROJECT_FOLDER}\repositories\${LOG_FILE}.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<fileNamePattern>${ROOT_PROJECT_FOLDER}\repositories\REPOSITORIES
				${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SERVICE_ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${ROOT_PROJECT_FOLDER}\service\${LOG_FILE}.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<fileNamePattern>${ROOT_PROJECT_FOLDER}\service\Service
				${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CONTROLLERS_ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${ROOT_PROJECT_FOLDER}\controllers\${LOG_FILE}.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<fileNamePattern>${ROOT_PROJECT_FOLDER}\controllers\Controllers
				${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ua.com.foxminded.repositories" level="DEBUG"
		additivity="false">

		<appender-ref ref="REPOSITORIES_ROLLING_FILE" />
	</logger>

	<logger name="ua.com.foxminded.service" level="DEBUG"
		additivity="false">

		<appender-ref ref="SERVICE_ROLLING_FILE" />
	</logger>

	<logger name="ua.com.foxminded.controllers" level="DEBUG"
		additivity="false">

		<appender-ref ref="CONTROLLERS_ROLLING_FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root>

	<springProfile name="test">
		<appender name="TEST_APPENDER"
			class="ua.com.foxminded.settings.TestAppender">
			<filter class="ua.com.foxminded.settings.TestLoggerFilter" />
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
			</encoder>
		</appender>

		<logger name="ua.com.foxminded" level="DEBUG"
			additivity="false">

			<appender-ref ref="TEST_APPENDER" />
		</logger>

		<root level="debug">
			<appender-ref ref="TEST_APPENDER" />
		</root>

	</springProfile>
</configuration>