<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
    <header th:replace="fragments :: header-navigation"> </header>
    <form th:action="@{/faculties/{id}(id=${faculty.id})}"
        th:method="PATCH" th:object="${faculty}">
        <div class="container">
            <fieldset class="form-control">
                <legend>Update a faculty</legend>
                <label for="name">Name</label> <br /> <input
                    type="text" th:field="*{name}" id="name" required>
                <br /> <br />
                <button type="submit" class="btn btn-primary">Update!</button>
            </fieldset>
        </div>
    </form>
    <div th:replace="fragments :: bootstrap-script">Get a
        bootstrap script</div>
</body>
</html>