<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
    <header th:replace="fragments :: header-navigation"> </header>
    <div class="container">
        <table class="table">
            <tr>
                <td>Faculty's id:</td>
                <td th:text="${faculty.id}"></td>
            </tr>
            <tr>
                <td>Faculty's name:</td>
                <td th:text="${faculty.name}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><a
                    class="text-decoration-none"
                    th:href="@{/faculties/{id}/edit(id=${faculty.id})}"
                    th:text="Edit"></a> <span> | </span> <a
                    class="text-decoration-none link-danger"
                    th:href="@{/faculties/{id}(id=${faculty.id})}"
                    th:text="Delete"></a></td>
            </tr>
        </table>
        <div th:replace="fragments :: bootstrap-script">Get a
            bootstrap script</div>
</body>
</html>