<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
	<header th:replace="fragments :: header-navigation"> </header>
    <div class="container">
    <table class="table">
        <tr>
            <td>Faculty's id:</td>
            <td th:text="${faculty.id}"></td>
        </tr>
        <tr>
            <td>Faculty's name:</td>
            <td th:text="${faculty.name}"></td>
        </tr>
    </table>
	<div th:replace="fragments :: bootstrap-script">Get a bootstrap
		script</div>
</body>
</html>