<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
    <header th:replace="fragments :: header-navigation"> </header>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lecturer's name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lecturer, iStat:${lecturers}">
                    <th scope="row" th:text="${iStat.count}">#</th>
                    <td><a class="text-decoration-none"
                        th:href="@{/lecturers/{id}(id=${lecturer.id})}"
                        th:text="${lecturer.firstName} + ' ' + ${lecturer.lastName}">lecturer</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <form th:action="@{/lecturers/new}">
        <div class="position-relative">
            <div
                class="position-absolute top-100 start-50 translate-middle">
                <button type="submit" class="btn btn-primary">Create
                    a new lecturer</button>
            </div>
        </div>
    </form>

    <div th:replace="fragments :: bootstrap-script">Get a
        bootstrap script</div>
</body>
</html>