<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
    <header th:replace="fragments :: header-navigation"> </header>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student's name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student, iStat:${students}">
                <th scope="row" th:text="${iStat.count}">#</th>
                <td><a class="text-decoration-none"
                    th:href="@{/students/{id}(id=${student.id})}"
                    th:text="${student.firstName} + ' ' + ${student.lastName}">student</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div th:replace="fragments :: bootstrap-script">Get a bootstrap
        script</div>
</body>
</html>