<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head" />

<body>
    <header th:replace="fragments :: header-navigation"> </header>

    <div class="container">
        <h2 align="center">
            <span
                th:text="${'Schedule of a lecturer ' + lecturer.firstName + ' ' + lecturer.lastName + ' for a week:'}">Header</span>
        </h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th
                        align="center"
                        valign="middle">Day</th>
                    <th
                        align="center"
                        valign="middle">Time</th>
                    <th
                        align="center"
                        valign="middle">Audience</th>
                    <th
                        align="center"
                        valign="middle">Lesson</th>
                    <th
                        align="center"
                        valign="middle">Lecturer</th>
                    <th
                        align="center"
                        valign="middle">Group</th>
                    <th
                        align="center"
                        valign="middle">Action</th>
                </tr>
            </thead>
            <tbody th:each="dayLessons : ${weekLessons}">
                <tr
                    th:if="${!dayLessons.value.isEmpty()}"
                    th:each="lesson, iStat : ${dayLessons.value}">
                    <td
                        th:if="${iStat.index == 0}"
                        th:rowspan="${iStat.size}"
                        th:text="${dayLessons.key}"
                        align="center"
                        valign="middle">Day</td>
                    <td
                        th:utext="${#temporals.format(lesson.lessonTime.startTime, 'HH:mm')
                            + '&lt;br /&gt;' + #temporals.format(lesson.lessonTime.endTime, 'HH:mm')}"
                        align="center"
                        valign="middle"></td>
                    <td
                        th:text="${lesson.audience}"
                        align="center"
                        valign="middle"></td>
                    <td
                        th:text="${lesson.name}"
                        align="center"
                        valign="middle"></td>
                    <td
                        align="center"
                        valign="middle">
                        <a
                            class="text-decoration-none"
                            th:href="@{/lecturers/{id}(id=${lesson.lecturer.id})}"
                            th:text="${lesson.lecturer.firstName} + ' ' + ${lesson.lecturer.lastName}">lecturer</a>
                    </td>
                    <td
                        align="center"
                        valign="middle">
                        <a
                            class="text-decoration-none"
                            th:href="@{/groups/{id}(id=${lesson.group.id})}"
                            th:text="${lesson.group.name}">group</a>
                    </td>
                    <td>
                        <a
                            class="text-decoration-none"
                            th:href="@{/lessons/{id}/edit(id=${lesson.id})}"
                            th:text="Edit"></a>
                        <span> | </span>
                        <a
                            class="text-decoration-none link-danger"
                            th:href="@{/lessons/{id}(id=${lesson.id})}"
                            th:text="Delete"></a>
                    </td>
                </tr>
                <tr th:if="${dayLessons.value.isEmpty()}">
                    <td
                        th:text="${dayLessons.key}"
                        align="center"
                        valign="middle"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: bootstrap-script">Get a
        bootstrap script</div>
</body>
</html>