<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="TEST_APPENDER"
		class="ua.com.foxminded.settings.TestAppender">
		<filter class="ua.com.foxminded.settings.TestLoggerFilter" />
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{19} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ua.com.foxminded" level="DEBUG"
		additivity="false">
		
		<appender-ref ref="TEST_APPENDER" />
	</logger>

	<root level="debug">
		<appender-ref ref="TEST_APPENDER" />
	</root>
</configuration>